<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{heroes.id}}</h5>
      <p class="card-text">{{heroes.name}}</p>
      <label>Power Stats</label>
      <label>Intelligence</label>
      <p>{{heroes.powerstats.intelligence}}</p>
      <label>strength</label>
      <p>{{heroes.powerstats.strength}}</p>
      <label>speed</label>
      <p>{{heroes.powerstats.speed}}</p>
      <label>durability</label>
      <p>{{heroes.powerstats.durability}}</p>
      <label>power</label>
      <p>{{heroes.powerstats.power}}</p>
      <label>combat</label>
      <p>{{heroes.powerstats.combat}}</p>
    </div>
  </div>
