<!-- <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <label>Biografia</label>
      <label><h2>FullName: {{detalleHeroe.fullName}}</h2></label>
      <label>alterEgos</label>
      <p>{{detalleHeroe.alterEgos}}</p>
      <label>aliases</label>
      <p>{{detalleHeroe.aliases}}</p>
      <label>placeofbirth</label>
      <p>{{detalleHeroe.placeofbirth}}</p>
      <label>firstAppearance</label>
      <p>{{detalleHeroe.firstAppearance}}</p>
      <label>publisher</label>
      <p>{{detalleHeroe.publisher}}</p>
      <label>alignment</label>
      <p>{{detalleHeroe.alignment}}</p>
    </div>
  </div> -->